<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_files}}

</head>

<body>
    {{>navbar}}

    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!--right div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="img/my4.png" alt="joy guha" class="img-fluid">
                        </figure>

                    </div>

                    <!--left div-->
                    <div class="col-md-6 col-12 main_header_left ">
                        <h2><span class="text_highlight">Hey!</span> Welcome to my page &nbsp;<i class="far fa-heart"></i></h2>
                        <h1>I am a  <span class="text_highlight">Full Stack Web Developer</span></h1>
                        <p>I am a computer science engineering student at Galgotias University. I like to polish my learning phase & new technologies, I am eager to secure challenging roles in computer science engineering. I am eager to hear about potential career opportunities & job openings in the engineering sphere.
                            My key skills includes: MERN stack web developement & python programming.</p>
                        <a href="https://www.linkedin.com/in/joy-guha-6b11b5205/" target="_blank"><button>know More</button></a>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
   

</body>

</html>