 <footer>
        <p>Created by <b>Joy Guha</b></p>
        <div class="socail_site">
            <div class="social-icon-container">
                <ul>
                    <li><a href="https://www.instagram.com/joy.guha_/" target="_blank"><i
                                class="ion-social-instagram-outline"></i></a></li>
                    <li><a href="https://www.facebook.com/joy.guha.71/" target="_blank"><i
                                class="ion-social-facebook-outline"></i></a></li>
                    <li><a href="https://twitter.com/joyguha17" target="_blank"><i
                                class="ion-social-twitter-outline"></i></a></li>
                    <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNrdZDVjqvsZvDRWmsQstfNWMNQZbLvhLhRvlqrCHPgvRzrDmKSSpFbmxFnmBXpXMMRnvV"
                            target="_blank"><i class="ion-ios-email-outline"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/joy-guha-6b11b5205/" target="_blank"><i
                                class="ion-social-linkedin-outline"></i></a></li>


                </ul>

            </div>
        </div>
    </footer>